.card_container {
  width: 100%;
  padding-bottom: 20px;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #817777;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 20px 0;
}

.user img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.user_info h2,
.user_info p {
  color: #ece9e9;
}

.user_info h2 {
  font-size: 24px;
}

.user_info p {
  font-size: 20px;
  margin-top: 5px;
}

.repositories {
  padding-top: 20px;
  background-color: #a59f9f;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.repositories h3 {
  font-size: 24px;
  text-align: center;
  color: #242424;
}

.repositories ul {
  list-style: none;
  margin-top: 10px;
  padding: 10px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.repositories ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #242424;
  transition: 0.3s;
}

.repositories ul li a:hover {
  color: #000;
}

@media (max-width: 630px) {
  .user {
    flex-direction: column;
  }

  .user_info,
  .repositories ul li {
    padding: 0 10px;
    text-align: center;
  }
}
