.header_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

form {
  margin-top: 10px;
  padding-top: 10px;
}

form label {
  font-size: 20px;
}

form input {
  padding: 5px;
  text-align: left;
  outline: none;
}

form button {
  padding: 6px 10px;
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #2cc219;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background-color: #1ca723;
}

@media (max-width: 348px) {
  .header_container {
    padding-bottom: 20px;
  }

  .header_container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .header_container form button {
    width: 25%;
  }

  .header_container form input {
    width: 90%;
  }
}
